@model ProductApp.Models.Product

<h3>Bu ürünü silmek istediğinizden emin misiniz?</h3>
<hr />
<div>
    <h4>Ürün</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desciription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desciription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @{
                if (!String.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/images/@Model.Image" asp-append-version="true" class="img-thumbnail w-25" />
                }
                else
                {
                    <img src="~/images/noimage.png" asp-append-version="true" class="img-thumbnail w-25" />
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-warning">Listeye Geri Dön</a>
    </form>
</div>
